{% extends 'layout.html' %}

{% block content %}

<main class="p-4 md:ml-64 h-auto pt-20">
    <section class="p-5 m-2 md:m-5 relative isolate overflow-hidden bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 shadow-md rounded-lg">
        <div class="flex flex-col items-center justify-center">
            <div class="mb-4 pb-4 border-b w-full text-4xl font-extrabold text-center text-gray-900 dark:text-white dark:border-gray-600">
                About Us
            </div>
            {% if user %}
                <img class="rounded-full w-56 h-56" src="{{ url_for('static', filename='images/kisan-motor-logo.png') }}" alt="image description">
                <h2 class="mt-4 text-3xl font-bold text-center text-gray-900 dark:text-slate-300">
                    Owner: {{user.name}}
                </h2>
                <div class="mb-4 text-2xl font-normal text-center text-gray-00 dark:text-slate-400" >
                    <h2>Address: {{user.shop_address}} </h2>
                    <h2>Mob No: +91 {{user.mob_number}}</h2>
                </div>
            {% else %}
                <img class="rounded-full w-56 h-56" src="{{ url_for('static', filename='images/ratan.jpeg') }}" alt="image description">
                <h2 class="mt-4 text-3xl font-bold text-center text-gray-900 dark:text-slate-300">
                    Developer: Ratan Kumar
                </h2>
                <div class="mb-4 text-2xl font-normal text-center text-gray-00 dark:text-slate-400" >
                    <h2>Student : 
                        <a class="hover:underline" href="https://www.iitp.ac.in/" target="_blank">
                            @IIT Patna
                        </a>
                    </h2>                    
                    <h2>GitHub : 
                        <a class="hover:underline" href="https://github.com/ratan-kumar-git" target="_blank">
                            @ratan-kumar-git
                        </a>
                    </h2>
                    <h2>InstaGram : 
                        <a class="hover:underline" href="https://www.instagram.com/ratan_the_coder" target="_blank">
                            @ratan_the_coder
                        </a>
                    </h2>
                </div>
            {% endif %}

            <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">
                Got a technical issue? Want to send feedback about a beta feature? 
            </p>
            <button type="submit" class="mb-5">
                <a href="/contact_us" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Contact Us
                </a>
            </button>
            
        </div>
    </section>
</main>

{% endblock %}
