{% extends 'layout.html' %}

{% block content %}

<main class="p-4 md:ml-64 h-auto pt-20">
    <div class="p-5 m-2 md:m-5 bg-white dark:bg-gray-800 rounded-lg shadow-md border border-gray-300 dark:border-gray-700">
        <!-- Header Div -->
        <div class="flex justify-center items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
            <h3 class="text-2xl uppercase font-extrabold text-gray-900 dark:text-white">
                {{customer.customer_name}}
            </h3>
        </div>

        <!-- Customet Area -->
        <div class="grid sm:grid-cols-2 pb-4 rounded-t border-b dark:border-gray-600">
            <!-- Right Box/Div -->
            <div class="text-lg font-medium text-gray-900 dark:text-white">
                <label for="Customer Village" class="block">
                    Address : {{customer.customer_village}}
                </label>
                <label for="customer_phone" class="block">
                    Ph No. : {{customer.customer_mob_no}}
                </label>
            </div>

            <!-- Right Box/Div -->
            <div class="text-lg md:text-right font-medium text-gray-900 dark:text-white">
                <label for="Customer Dues" class="block">
                    Total Dues : {{total_dues}}
                </label>
            </div>
        </div>

        <!-- Billing Item list -->
        <div class="mt-5 bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
            <div class="overflow-x-auto">
                <table class="billing-table  w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-sm text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-4 py-3 whitespace-nowrap">SNo.</th>
                            <th scope="col" class="px-4 py-3 whitespace-nowrap">Date</th>
                            <th scope="col" class="px-4 py-3 whitespace-nowrap">Total Amount</th>
                            <th scope="col" class="px-4 py-3 whitespace-nowrap">Paid</th>
                            <th scope="col" class="px-4 py-3 whitespace-nowrap">Dues</th>
                            <th scope="col" class="px-4 py-3 whitespace-nowrap">Bill</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if billings %}
                        {% for billing in billings %}
                        <tr class="border-b text-base dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
                            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <div class="flex items-center">
                                    {{loop.index}}
                                </div>
                            </td>
                            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <div class="flex items-center">
                                    {{billing.billing_date.strftime('%d-%b-%Y')}}
                                </div>
                            </td>
                            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <div class="flex items-center">
                                    {{billing.total_amount}}
                                </div>
                            </td>
                            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <div class="flex items-center">
                                    {{billing.amount_paid}}
                                </div>
                            </td>
                            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <div class="flex items-center">
                                    {{billing.dues}}
                                </div>
                            </td>
                            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <div class="flex items-center">
                                    <!-- View Button -->
                                    <div class="mr-2 p-2 hover:bg-slate-800 hover:rounded-md">
                                        <a href="{{ url_for('customer_billing_detail', custo_id=customer.id, bill_id=billing.id)}}">
                                            <button class="flex justify-center items-center">
                                                <svg class="h-5 w-6" xmlns="http://www.w3.org/2000/svg"
                                                    shape-rendering="geometricPrecision"
                                                    text-rendering="geometricPrecision"
                                                    image-rendering="optimizeQuality" fill="orange" id="Layer_1"
                                                    data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 122.88 68.18">
                                                    <title>view</title>
                                                    <path class="cls-1"
                                                        d="M61.44,13.81a20.31,20.31,0,1,1-14.34,6,20.24,20.24,0,0,1,14.34-6ZM1.05,31.31A106.72,106.72,0,0,1,11.37,20.43C25.74,7.35,42.08.36,59,0s34.09,5.92,50.35,19.32a121.91,121.91,0,0,1,12.54,12,4,4,0,0,1,.25,5,79.88,79.88,0,0,1-15.38,16.41A69.53,69.53,0,0,1,63.43,68.18,76,76,0,0,1,19.17,53.82,89.35,89.35,0,0,1,.86,36.44a3.94,3.94,0,0,1,.19-5.13Zm15.63-5A99.4,99.4,0,0,0,9.09,34,80.86,80.86,0,0,0,23.71,47.37,68.26,68.26,0,0,0,63.4,60.3a61.69,61.69,0,0,0,38.41-13.72,70.84,70.84,0,0,0,12-12.3,110.45,110.45,0,0,0-9.5-8.86C89.56,13.26,74.08,7.58,59.11,7.89S29.63,14.48,16.68,26.27Zm39.69-7.79a7.87,7.87,0,1,1-7.87,7.87,7.86,7.86,0,0,1,7.87-7.87Z" />
                                                </svg>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="5" class="text-center p-5">No Record Found.</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}