<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/output.css')}}">
</head>
<body class="bg-slate-800">
    <div class="flex  justify-center items-center h-screen">
        <a class="bg-blue-600 hover:bg-blue-800 text-white px-4 py-2 rounded-lg m-2" href="/login">Login</a>
        <a class="bg-blue-600 hover:bg-blue-800 text-white px-4 py-2 rounded-lg m-2" href="/signup">Signup</a>
        <a class="bg-blue-600 hover:bg-blue-800 text-white px-4 py-2 rounded-lg m-2" href="/dashboard">Dashboard</a>
    </div>
    
</body>
</html>