{% extends 'layout.html' %}

{% block content %}

<main class="p-4 md:ml-64 h-auto pt-20">
    <div class="p-5 m-2 md:m-5 bg-white rounded-lg shadow dark:bg-gray-800">
        <!-- Header Div -->
        <div class="flex justify-center items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
            <h3 class="text-2xl block uppercase font-extrabold text-gray-900 dark:text-white">
                Invoice
            </h3>
        </div>

        <!-- Billing Item list -->
        <div class="mt-5 bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
            <div class="overflow-x-auto">
                <table class="billing-table  w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-sm text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-4 py-3 whitespace-nowrap">SNo.</th>
                            <th scope="col" class="px-4 py-3 whitespace-nowrap">Date</th>
                            <th scope="col" class="px-4 py-3 whitespace-nowrap">Product Name</th>
                            <th scope="col" class="px-4 py-3 whitespace-nowrap">Sell Price</th>
                            <th scope="col" class="px-4 py-3 whitespace-nowrap">Quantity</th>
                            <th scope="col" class="px-4 py-3 whitespace-nowrap">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b text-base dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
                            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <div class="flex items-center">
                                    #
                                </div>
                            </td>
                            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <div class="flex items-center">
                                    
                                </div>
                            </td>
                            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <div class="flex items-center">
                                    <!-- {{prod_name}} -->
                                </div>
                            </td>
                            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <div class="flex items-center">
                                    <!-- {{prod_sell_price}} -->
                                </div>
                            </td>
                            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <div class="flex items-center">
                                    <!-- {{quantity}} -->
                                </div>
                            </td>
                            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <div class="flex items-center">
                                    <!-- {{total_price}} -->
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock %}
